<%= form_tag action: 'add', controller: 'products', method: 'post' do%>
<label>Product:</label><br>
<input name='product'>
<%= submit_tag 'add to cart'%>
<%end%>

<ul>
<%cart.each do |p|%>
<li><%=p%></li>
<%end%>
</ul>
